#peers {
  width: 48%;
  height: 40vh;
}

#existing {
  margin-top: 5%;
  width: 48%;
  height: 40vh;
  margin-left: 4%;
  float: right;
  color: #f9f9f9;
}

#turn {
  margin-top: 5%;
  width: 48%;
  height: 40vh;
  float: left;
  color: #f9f9f9;
  font-size: 20px;
}
