body {
  background: url("https://wallpaperscraft.com/image/dark_spots_texture_background_50355_1600x1200.jpg");
  background-size: cover;
  font-family: "Nanum Brush Script", cursive;
  width: 100vw;
}

h1 {
  color: snow;
  font-size: 16vh;
  margin-top: 2px;
  margin-bottom: 12px;
  text-shadow: 0 0 3px red, 0 0 5px green;
  display: inline-block;
}
h1:hover{
  cursor: pointer;
  color: white;
  text-shadow: 0 0 3px yellow, 0 0 5px orangered;
}

#gameBox {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.box {
  height: 21vh !important;
  width: 21vh !important;
  font-size: 15vh !important;
  text-align: center !important;
}

.bottom {
  border-bottom: ridge 1vh snow;
}

.right {
  border-right: groove 1vh ivory;
}

#choosePlayer, #chooseGame, #peers {
  border: solid 1vh snow !important;
  color: snow !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: auto !important;
  width: 96vmin !important;
}

p1 {
  color: snow;
  font-size: 0.9em;
  text-shadow: 1px 1px 2px red, 0 0 8px blue;
}

p2, a {
  color: snow;
  text-shadow: 1px 1px orangered, 0 0 4px lavender;
}

p3 {
  font-size: 1.2em;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

p3:hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px green, 0 0 7px lightyellow;
}

p4 {
  font-size: 0.6em;
  margin-left: 0.6em;
  margin-right: 0.6em;
}

p4:hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px green, 0 0 7px lightyellow;
}

#winBox, #loseBox, #playerXwins {
  border: dotted 1vh snow;
  color: snow;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 96vmin;
}

#playerXwins {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  z-index: 9999;
  top: 48%;
  left: 38vw;
  height: 250px;
  width: 450px;
}

#restartBtn {
  font-size:6vh;
  text-shadow: 1px 1px 2px green, 0 0 7px lightyellow;
  margin-top: 2vh;
}

.tic:hover {
  cursor: pointer;
}

.ex {
  color: Snow;
  text-shadow: 1px 1px 2px darkred, 0 0 6px red;
}

.oh {
  color: ivory;
  text-shadow: 1px 1px 1px black, 0 0 5px yellow;
}

#existing {
  float: right;
  width: 50%
}
